In [ ]:
import numpy as np
import pandas as pd

In [ ]:
my_list = [1, 2, 3]

In [ ]:
np.array(my_list)

In [ ]:
np.linspace(0,100,15)

In [ ]:
np.random.rand(2)

In [ ]:
np.random.randint(1, 100)

In [ ]:
ranarr = np.random.randint(0, 50, 10)

In [ ]:
ranarr

In [ ]:
# Return max index.
ranarr.argmax()

In [ ]:
# return index of min number
ranarr.argmin()

In [ ]:
dice_rolls = np.array([3, 1, 5, 2, 5, 1, 1, 5, 1, 4, 2, 1, 4, 5, 3, 4, 5, 2, 4, 2, 6, 6, 3, 6, 2, 3, 5, 6, 5])

In [ ]:
# total_rolls_over_two = # This should be a single integer
bool_arr = dice_rolls > 2

In [ ]:
# Access the part of the array and then count them.
total_rolls_over_two = dice_rolls[bool_arr].shape[0]

In [ ]:
total_rolls_over_two

In [ ]:
transactions = np.array([100,-200,300,-400,100,100,-230,450,500,2000])

In [ ]:
transactions.sum()

In [ ]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [ ]:
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

In [ ]:
# You can fill these with any value you want
sales_Q1.add(sales_Q2, fill_value=0)

In [ ]:
path = 'D:\\NumPy-udemy\\03-Pandas\\tips.csv'
df = pd.read_csv(path)
df

In [24]:
# Index table searching
df.iloc[0]

total_bill                       16.99
tip                               1.01
sex                             Female
smoker                              No
day                                Sun
time                            Dinner
size                                 2
price_per_person                  8.49
Payer Name          Christy Cunningham
CC Number             3560325168603410
Payment ID                     Sun2959
Name: 0, dtype: object

In [30]:
df = df.set_index('Payment ID')

In [31]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number
Payment ID,,,,,,,,,,
Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221

In [34]:
# Search by name after setting index.
df.loc['Sun2959']

total_bill                       16.99
tip                               1.01
sex                             Female
smoker                              No
day                                Sun
time                            Dinner
size                                 2
price_per_person                  8.49
Payer Name          Christy Cunningham
CC Number             3560325168603410
Name: Sun2959, dtype: object

In [40]:
# Grab columns by attributes
df[df['sex'] == 'Female']

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number
Payment ID,,,,,,,,,,
Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221
Sun6686,35.26,5.00,Female,No,Sun,Dinner,4,8.82,Diane Macias,4577817359320969
Sun3848,14.83,3.02,Female,No,Sun,Dinner,2,7.42,Vanessa Jones,30016702287574
Sun9715,10.33,1.67,Female,No,Sun,Dinner,3,3.44,Elizabeth Foster,4240025044626033
...,...,...,...,...,...,...,...,...,...,...
Fri6359,10.09,2.00,Female,Yes,Fri,Lunch,2,5.04,Ruth Weiss,5268689490381635
Sat3943,22.12,2.88,Female,Yes,Sat,Dinner,2,11.06,Jennifer Russell,4793003293608
Sat9777,35.83,4.67,Female,No,Sat,Dinner,3,11.94,Kimberly Crane,676184013727
Sat1766,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404
Thur672,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139

In [46]:
options = ['Sat', 'Sun']
df['day'].isin(options)

Payment ID
Sun2959    False
Sun4608    False
Sun4458    False
Sun5260    False
Sun2251    False
           ...
Sat2657    False
Sat1766    False
Sat3880    False
Sat17      False
Thur672    False
Name: day, Length: 244, dtype: bool